.navbar
    display: flex
    width: 100%

    justify-content: space-between

    .brand
        color: var(--brand-colour)
        text-decoration: none
        font-size: 2rem
        font-family: "Google Sans Flex", sans-serif

    .items
        display: flex
        align-items: center
        flex-direction: row
        gap: 8px
